# Workspace Files
node_modules/
frontend/node_modules/
.env

# Build Artifacts
dist/
frontend/dist/
build/

# IDE/System Files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads & Data
uploads/
pgdata/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
